@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../../node_modules/flowbite';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
        
    --color-blue-50: #f4f4fe;
    --color-blue-100: #e5e4fc;
    --color-blue-500: #2F27CE;
    --color-blue-600: #2F27CE;
    --color-blue-700: #1c159e;
    
    --color-indigo-50: #f4f4fe;
    --color-indigo-100: #e5e4fc;
    --color-indigo-500: #2F27CE;
    --color-indigo-600: #2F27CE;
    --color-indigo-700: #1c159e;
}

@plugin "daisyui" {
    themes: light --default;
}

@plugin "flowbite/plugin";

.bg-home {
    background-color: #2F27CE;
}
    