@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../../node_modules/flowbite';


@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
        
    --color-blue-50: #f4f4fe;
    --color-blue-100: #e5e4fc;
    --color-blue-500: #2F27CE;
    --color-blue-600: #2F27CE;
    --color-blue-700: #1c159e;
    --color-blue-800: #4D47E2;
    
    --color-indigo-50: #F0EFFF;
    --color-indigo-80: #DDDBFF;
    --color-indigo-100: #7A74FF;
    --color-indigo-500: #2F27CE;
    --color-indigo-600: #2F27CE;
    --color-indigo-700: #1c159e;
    --color-indigo-800: #443DFF;
}

@utility bg-pleco-gradient {
    background-image: linear-gradient(187deg, #F2EFFF 35%, #E2E6FF 87%);
}

@utility figma-black {
    color: #414141;
}

@plugin "daisyui" {
    themes: light --default;
}

@plugin "flowbite/plugin";
