@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../../node_modules/flowbite';


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@utility bg-pleco-gradient {
    background-image: linear-gradient(187deg, #F2EFFF 35%, #E2E6FF 87%);
}

@utility figma-black {
    color: #414141;
}

@plugin "daisyui" {
    themes: light --default;
}

@plugin "flowbite/plugin";